td {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11pt;
}
h1 {
	font-size: 16pt;
	color: #DA5E03;
}
h2 {
	font-size: 12pt;
	color: #86DA03;
}
a {
	font-weight: normal;
	color: #03A5DA;
}
